In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pet = pd.read_csv("test.csv")
pet.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [5]:
pet.isnull().sum()

pet_id            0
issue_date        0
listing_date      0
condition       619
color_type        0
length(m)         0
height(cm)        0
X1                0
X2                0
dtype: int64

In [6]:
pet["height(cm)"] = pet["height(cm)"]/100

In [7]:
pet = pet.rename(columns={"height(cm)":"height(m)"})

In [8]:
pet["I_Date"] = pd.DatetimeIndex(pet["issue_date"]).date
pet["L_Date"] = pd.DatetimeIndex(pet["listing_date"]).date

In [10]:
pet.drop(columns=["pet_id", "issue_date", "listing_date"], inplace=True)

In [11]:
pet.head()

,condition,color_type,length(m),height(m),X1,X2,I_Date,L_Date
0,0.0,Black,0.87,0.4273,0,7,2005-08-17,2017-09-07
1,1.0,Orange Tabby,0.06,0.0671,0,1,2018-11-15,2019-05-08
2,1.0,Black,0.24,0.4121,0,7,2012-10-11,2018-04-02
3,1.0,Black,0.29,0.0846,7,1,2015-02-13,2018-04-06
4,1.0,Brown,0.71,0.3092,0,7,2017-01-18,2018-04-26